[artifactory-baseos]
name=Artifactory $releasever - BaseOS
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/BaseOS/$basearch/os/
gpgcheck=0
enabled=1

[artifactory-appstream]
name=Artifactory $releasever - AppStream
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/AppStream/$basearch/os/
gpgcheck=0
enabled=1

[artifactory-baseos-debug]
name=Artifactory $releasever - BaseOS - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/BaseOS/$basearch/debug/tree/
gpgcheck=0
enabled=0

[artifactory-appstream-debug]
name=Artifactory $releasever - AppStream - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/AppStream/$basearch/debug/tree/
gpgcheck=0
enabled=0

[artifactory-ha-debug]
name=Artifactory $releasever - High Availability - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/HighAvailability/$basearch/debug/tree/
gpgcheck=0
enabled=0

[artifactory-powertools-debug]
name=Artifactory $releasever - PowerTools - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/PowerTools/$basearch/debug/tree/
gpgcheck=0
enabled=0

[artifactory-resilient-storage-debug]
name=Artifactory $releasever - Resilient Storage - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/ResilientStorage/$basearch/debug/tree/
gpgcheck=0
enabled=0

[artifactory-extras]
name=Artifactory $releasever - Extras
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/extras/$basearch/os/
gpgcheck=0
enabled=0

[artifactory-ha]
name=Artifactory $releasever - HighAvailability
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/HighAvailability/$basearch/os/
gpgcheck=0
enabled=0

[artifactory-nfv]
name=Artifactory $releasever - NFV
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/nfv/$basearch/os/
gpgcheck=0
enabled=0

[artifactory-plus]
name=Artifactory $releasever - Plus
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/plus/$basearch/os/
gpgcheck=0
enabled=0

[artifactory-powertools]
name=Artifactory $releasever - PowerTools
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/PowerTools/$basearch/os/
gpgcheck=0
enabled=0

[artifactory-resilient-storage]
name=Artifactory $releasever - ResilientStorage
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/ResilientStorage/$basearch/os/
gpgcheck=0
enabled=0

[artifactory-rt]
name=Artifactory $releasever - Realtime
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/RT/$basearch/os/
gpgcheck=0
enabled=0

[artifactory-baseos-source]
name=Artifactory $releasever - BaseOS - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/BaseOS/source/tree/
gpgcheck=0
enabled=0

[artifactory-appstream-source]
name=Artifactory $releasever - AppStream - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/AppStream/source/tree/
gpgcheck=0
enabled=0

[artifactory-ha-source]
name=Artifactory $releasever - High Availability - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/HighAvailability/source/tree/
gpgcheck=0
enabled=0

[artifactory-powertools-source]
name=Artifactory $releasever - PowerTools - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/PowerTools/source/tree/
gpgcheck=0
enabled=0

[artifactory-resilient-storage-source]
name=Artifactory $releasever - Resilient Storage - Source
baseurl=https://admin:APF5N86DVuqb3y8miY4V3xu6MA@registry.vaslapp.com/artifactory/rocky/$releasever/ResilientStorage/source/tree/
gpgcheck=0
enabled=0