MINIO_ACCESS_KEY={{ MINIO_ACCESS_KEY }}
MINIO_SECRET_KEY={{ MINIO_SECRET_KEY }}
MINIO_VOLUMES={{ MINIO_DATA_DIR }}
MINIO_VOLUMES="{% for VOLUME in MINIO_VOLUMES %}{{MINIO_DATA_DIR}}/{{ VOLUME }} {% endfor %}"
MINIO_OPTS="--address {{ansible_default_ipv4.address}}:9000 --console-address :{{MINIO_CONSOL_PORT}}"
