# log
systemLog:
 destination: file
 logAppend: true
 logRotate: rename
 path: /var/log/mongodb/mongos.log
# network interfaces
net:
 port: 27017
 bindIp:  {{ ansible_default_ipv4.address }}
sharding:
 configDB: replconfig01/{% for node in nodes | selectattr('type', 'equalto', 'config') %}{{ node.name }}:27017{% if not loop.last %},{% endif %}{% endfor %}
