Cmnd_Alias      SERVU_SINGLE_CMD = /bin/systemctl, /bin/journalctl, /bin/netstat, \
/bin/timedatectl, /bin/touch, /bin/tail, /bin/head, /bin/cd, /bin/ls, /bin/du, /bin/df, /bin/cat ,/bin/kubectl, /bin/grep

servu ALL=(ALL) NOPASSWD:SERVU_SINGLE_CMD
